/* Root Selector */
:root {
    /* declare a variable with `--` syntax */
    --dark: #1F2041;
    --blue: #2C5FF6;
    --pink: #ED99C9;
    --white: #ffffff;
    --border-round: 20px;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1236px;
}

/* Base Section Dimensions*/
section {
    margin: 0 auto;
    max-width: 1236px;
}

/* Header h1 style, Logo */
header h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: var(--dark);

}

/* Navigation anchor */
nav a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 191.25%;
    /* or 57px */
    letter-spacing: -0.01em;
    color: var(--dark);
    text-decoration: none;
    margin-right: 10px;
}

nav a:hover {
    color: var(--blue);
}

/* Hero Container Styles */
.hero-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.hero-content {
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    justify-content: center;
}

.hero-content h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 111.5%;
    /* or 72px */
    letter-spacing: -0.01em;
    color: var(--dark);
}

.hero-content h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 170%;
    /* identical to box height, or 31px */
    letter-spacing: -0.01em;
    margin-top: 20px;
    color: var(--dark);
}

.hero-content a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 161px;
    padding: 15.673px 26.8679px;
    background: var(--blue);
    box-shadow: 0px 13.434px 39.1824px rgba(21, 76, 238, 0.21);
    border-radius: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    text-align: right;
    text-decoration: none;
    color: var(--white);
    margin-top: 20px;
}

.hero-content a:hover {
    background: transparent;
    outline: 1px solid var(--blue);
    color: var(--dark);
    box-shadow: 0px 13.434px 39.1824px rgba(21, 76, 238, 0.21);
}

.hero-image {
    width: 30%;
    min-width: 600px;
    height: auto;
}

.about-section {
    display: flex;
    flex-wrap: wrap-reverse;
    width: 100%;
    justify-content: space-around;
}

.about-image {
    min-width: 400px;
    height: auto;
}


.about-content {
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    justify-content: center;
    margin: 10px;
}

.about-content h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 191.25%;
    /* identical to box height, or 115px */
    letter-spacing: -0.01em;
    color: var(--pink);
}

.about-content h2 {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 170%;
    /* identical to box height, or 31px */
    letter-spacing: -0.01em;
    margin-bottom: 20px;
    color: var(--dark);

}

p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 191.25%;
    /* or 33px */
    letter-spacing: -0.01em;
    color: var(--dark);
    margin: 8px auto;

}

/* .work-section {} */

.work-section h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 191.25%;
    /* or 115px */
    letter-spacing: -0.01em;
    color: var(--pink);
}

.work {
    position: relative;
    margin: 0 auto;
}

.work a {
    position: absolute;
    bottom: 55px;
    left: 35px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 191.25%;
    letter-spacing: -0.01em;
    color: var(--pink);
    background-color: var(--white);
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
}

.work a:hover {
    outline: 1px solid var(--blue);
    color: var(--dark);
}

/* .work.full {} */

.work.half {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px auto;
    flex-wrap: wrap;
}

/* Makes work half container half visible on  hover */
.work.half img:hover {
    opacity: 0.5;
}

.full img {
    min-width: 100%;
}

.work.thirds {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

/* Makes work thirds container half visible on  hover */
.work.thirds img:hover {
    opacity: 0.5;
}

/* Contact Section  */
footer {
    background: rgba(44, 95, 246, 0.23);
    width: 100%;
    bottom: 0;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}


.contact-content {
    width: 100%;
    margin: 20px auto;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    justify-content: center;
}

.contact-content h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 191.25%;
    /* identical to box height, or 115px */
    letter-spacing: -0.01em;
    color: var(--white);
}

.contact-content h1:hover {
    text-decoration: underline double rgba(44, 95, 246, 0.30);
}

.contact-content a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 170%;
    /* identical to box height, or 31px */
    letter-spacing: -0.01em;
    margin-bottom: 20px;
    color: #1F2041;
    text-decoration: none;
}

.contact-content a:hover {
    color: var(--blue);
    text-decoration: none;
}

.footer-image {
    align-content: space-between;
}

/* Media Query Resizing */
@media screen and (max-width: 768px) {

    main,
    nav {
        flex-direction: column;
    }

    header h1 {
        font-size: 40px;
    }

    nav a {
        font-size: 18px;
    }

    .hero-content h1 {
        font-size: 50px;
    }

    /* paragraph style for the About Section */
    p {
        margin: 10px auto;
    }

    .work {
        margin: 8px auto;
    }

    .work img {
        max-width: 90vw;
    }

    .work a {
        position: absolute;
        bottom: 50px;
        left: 25px;
        font-size: 20px;
    }

    section {
        padding: 0px 4px;
    }

    footer {
        background: rgba(44, 95, 246, 0.23);
        min-width: 100vw;
        bottom: 0;
        overflow-x: hidden;
    }

    main {
        overflow-x: clip;
    }

}