header {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1236px;
}

section {
    margin: 0 auto;
    max-width: 1236px;
}

header h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #1F2041;

}

nav a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 191.25%;
    /* or 57px */
    letter-spacing: -0.01em;
    color: #1F2041;
    text-decoration: none;
    margin-right: 10px;
}

nav a:hover {
    color: #2C5FF6;
}

.hero-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.hero-content {
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    justify-content: center;
}

.hero-content h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 111.5%;
    /* or 72px */
    letter-spacing: -0.01em;
    color: #1F2041;
}

.hero-content h2 {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 170%;
    /* identical to box height, or 31px */

    letter-spacing: -0.01em;
    margin-top: 20px;
    color: #1F2041;
}

.hero-content a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 161px;
    padding: 15.673px 26.8679px;
    background: #2C5FF6;
    box-shadow: 0px 13.434px 39.1824px rgba(21, 76, 238, 0.21);
    border-radius: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    text-align: right;
    text-decoration: none;
    color: #FFFFFF;
    margin-top: 20px;
}

.hero-content a:hover {
    background: transparent;
    outline: 1px solid #2C5FF6;
    color: #1F2041;
    box-shadow: 0px 13.434px 39.1824px rgba(21, 76, 238, 0.21);
}

.hero-image {
    width: 30%;
    min-width: 600px;
    height: auto;
}

.about-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.about-image {
    min-width: 400px;
    height: auto;


}

.about-content {
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    justify-content: center;
}

.about-content h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 191.25%;
    /* identical to box height, or 115px */
    letter-spacing: -0.01em;
    color: #ED99C9;
}

.about-content h2 {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 170%;
    /* identical to box height, or 31px */
    letter-spacing: -0.01em;
    margin-bottom: 20px;
    color: #1F2041;

}

p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 191.25%;
    /* or 33px */
    letter-spacing: -0.01em;
    color: #1F2041;
    margin: 8px auto;

}

.work-section {}

.work-section h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 191.25%;
    /* or 115px */
    letter-spacing: -0.01em;
    color: #ED99C9;
}

.work {
    position: relative;
    margin: 0 auto;
}

.work a {
    position: absolute;
    bottom: 55px;
    left: 35px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 191.25%;
    letter-spacing: -0.01em;
    color: #ED99C9;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
}

.work a:hover {
    outline: 1px solid #2C5FF6;
    color: #1F2041;
}

.work.full {}

.work.half {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px auto;
}


.work.half div {
    /* flex-shrink: 1;
    flex-grow: 1; */
}

.full img {
    min-width: 100%;
}

.work.thirds {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

footer {
    background: rgba(44, 95, 246, 0.23);
    width: 100%;
    bottom: 0;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    display: flex;

}


.contact-content {
    width: 100%;
    margin: 20px auto;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    justify-content: center;
}

.contact-content h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 191.25%;
    /* identical to box height, or 115px */
    letter-spacing: -0.01em;
    color: #fff;
}

.contact-content h1:hover {
    text-decoration: underline double rgba(44, 95, 246, 0.30);
}

.contact-content a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 170%;
    /* identical to box height, or 31px */
    letter-spacing: -0.01em;
    margin-bottom: 20px;
    color: #1F2041;
    text-decoration: none;
}

.contact-content a:hover {
    color: #2C5FF6;
    text-decoration: none;
}

.footer-image {
    align-content: space-between;
}