header{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    flex-wrap: wrap;
}

header h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #1F2041;

}

nav a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 191.25%;
    /* or 57px */
    letter-spacing: -0.01em;
    color: #1F2041;
    text-decoration: none;
    margin-right: 10px;
}

nav a:hover {
    color: #2C5FF6;
}

.hero-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.hero-content {
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    justify-content: center;
}

.hero-content h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 111.5%;
    /* or 72px */
    letter-spacing: -0.01em;
    color: #1F2041;
}
.hero-content h2 {
    
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 170%;
/* identical to box height, or 31px */

letter-spacing: -0.01em;
margin-top: 20px;
color: #1F2041;
}
.hero-content a {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
max-width: 161px;
padding: 15.673px 26.8679px;
background: #2C5FF6;
box-shadow: 0px 13.434px 39.1824px rgba(21, 76, 238, 0.21);
border-radius: 12px;
font-family: 'Poppins';
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 27px;
/* identical to box height */
text-align: right;
text-decoration: none;
color: #FFFFFF;
margin-top: 20px;
}

.hero-content a:hover {
    background: transparent;
    outline: 1px solid #2C5FF6;
    color: #1F2041
}
.hero-image{
    width: 30%;
    min-width: 600px;
    height: auto;
}